$bg-color:#FAFAFA;
$button-color: #003BE5;
$primary-color: #023031;
$secundary-color: #036B52;
$terciary-color: #2FC18C;
$text-color: #3D495C;
$white-color: #FFFFFF;
$nav-color: #F0F2F5;

$shadowing: 0px 4px 4px rgb(0,0,0, 0.25);
$input-border: solid 1px rgb(230, 229, 229);
$borders: 5px;

