@use 'variables' as *;

.loading {
    display: flex;
    color: $primary-color;
    font-size: 80px;
    justify-content: center;
    height: 70vh;
    align-content: center;

}

@media screen and (max-width: 720px) {
    .loading{
        font-size: 40px;
    }
}