@use 'variables' as *;
@use 'mixins' as *;

.notFound {
    @include column;
    align-items: center;
    background-color: $bg-color;
    height: 100vh;
    color: $primary-color;

    img {
        width: 100px;
    }

    div {
        display: flex;
        width: 50%;

        span {
          font-size: 150px;
          font-weight: 300;
        }

        p {
            font-size: 35px;
            font-weight: 300;
            margin-left: 30px
        }
    }

}

@media screen and (max-width: 720px) {
    .notFound{
        div {
            flex-direction: column;
            
            span{
                font-size: 100px;
            }

            p {
                margin: auto;
            }
        }
    }
}